tr
	{mso-height-source:auto;
	mso-ruby-visibility:none;}
col
	{mso-width-source:auto;
	mso-ruby-visibility:none;}
br
	{mso-data-placement:same-cell;}
ruby
	{ruby-align:left;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:W;
	mso-style-id:0;}
.font9
	{color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
td
	{mso-style-parent:style0;
	padding:0px;
	mso-ignore:padding;
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	color:black;}
.xl66
	{mso-style-parent:style0;
	color:black;
	font-size:12.0pt;
	font-family:HGnpp恨集UB, monospace;
	mso-font-charset:128;
	vertical-align:middle;
	border:1.0pt solid windowtext;}
.xl67
	{mso-style-parent:style0;
	color:black;
	font-size:12.0pt;
	font-family:HGnpp恨集UB, monospace;
	mso-font-charset:128;
	vertical-align:middle;
	border:1.0pt solid windowtext;
	background:white;
	mso-pattern:white none;}
.xl68
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-family:HGnpp恨集UB, monospace;
	mso-font-charset:128;
	vertical-align:middle;
	border:1.0pt solid windowtext;}
.xl69
	{mso-style-parent:style0;
	border:1.0pt solid windowtext;}
.xl70
	{mso-style-parent:style0;
	color:black;
	font-size:36.0pt;
	border:1.0pt solid windowtext;}
.xl71
	{mso-style-parent:style0;
	font-family:"lr oSVbN", monospace;
	mso-font-charset:128;
	border:1.0pt solid windowtext;}
.xl72
	{mso-style-parent:style0;
	font-weight:700;
	font-family:"lr oSVbN", monospace;
	mso-font-charset:128;
	border:1.0pt solid windowtext;
	background:#A6E3B7;
	mso-pattern:white none;}
.xl73
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-family:HGnpp恨集UB, monospace;
	mso-font-charset:128;
	border:1.0pt solid windowtext;
	background:yellow;
	mso-pattern:black none;}
.xl74
	{mso-style-parent:style0;
	font-family:HGPnpp恨集UB, monospace;
	mso-font-charset:128;
	border:1.0pt solid windowtext;}
.xl75
	{mso-style-parent:style0;
	color:black;
	font-size:12.0pt;
	font-family:HGPnpp恨集UB, monospace;
	mso-font-charset:128;
	border:1.0pt solid windowtext;}
.xl76
	{mso-style-parent:style0;
	font-family:HGSnpp恨集UB, monospace;
	mso-font-charset:128;
	border:1.0pt solid windowtext;
	white-space:normal;}
.xl77
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-family:HGPnpp恨集UB, monospace;
	mso-font-charset:128;
	border:1.0pt solid windowtext;}
.xl78
	{mso-style-parent:style0;
	font-family:HGSnpp恨集UB, monospace;
	mso-font-charset:128;
	border:1.0pt solid windowtext;
	background:white;
	mso-pattern:white none;}
.xl79
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-family:HGPnpp恨集UB, monospace;
	mso-font-charset:128;
	border:1.0pt solid windowtext;
	background:yellow;
	mso-pattern:black none;}
.xl80
	{mso-style-parent:style0;
	color:black;
	font-family:HGPnpp恨集UB, monospace;
	mso-font-charset:128;
	border:1.0pt solid windowtext;}
.xl81
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-weight:700;
	font-family:HGPnpp恨集UB, monospace;
	mso-font-charset:128;
	border:1.0pt solid windowtext;
	white-space:normal;}
.xl82
	{mso-style-parent:style0;
	font-weight:700;
	font-family:"lr oSVbN", monospace;
	mso-font-charset:128;
	border:1.0pt solid windowtext;
	background:#FEA767;
	mso-pattern:black none;}
.xl83
	{mso-style-parent:style0;
	border:1.0pt solid windowtext;
	background:#FEA767;
	mso-pattern:black none;}
.xl84
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-family:HGPnpp恨集UB, monospace;
	mso-font-charset:128;
	border:1.0pt solid windowtext;
	white-space:normal;}
.xl85
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-family:HGPnpp恨集UB, monospace;
	mso-font-charset:128;
	border:1.0pt solid windowtext;
	background:yellow;
	mso-pattern:black none;
	white-space:normal;}
.xl86
	{mso-style-parent:style0;
	font-weight:700;
	font-family:HGPnpp恨集UB, monospace;
	mso-font-charset:128;
	border:1.0pt solid windowtext;
	white-space:normal;}
.xl87
	{mso-style-parent:style0;
	font-size:20.0pt;
	font-family:"lr oSVbN", monospace;
	mso-font-charset:128;
	vertical-align:middle;
	border:1.0pt solid windowtext;}
.xl88
	{mso-style-parent:style0;
	font-size:22.0pt;
	font-family:"lr oSVbN", monospace;
	mso-font-charset:128;
	text-align:left;
	vertical-align:middle;
	border:1.0pt solid windowtext;}
.xl89
	{mso-style-parent:style0;
	font-size:11.0pt;
	font-family:HGPnpp恨集UB, monospace;
	mso-font-charset:128;
	border:1.0pt solid windowtext;}
.xl90
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-family:HGPnpp恨集UB, monospace;
	mso-font-charset:128;
	border:1.0pt solid windowtext;}
.xl91
	{mso-style-parent:style0;
	font-size:16.0pt;
	font-family:HGPnpp恨集UB, monospace;
	mso-font-charset:128;
	border:1.0pt solid windowtext;}
